/* FirstColumnLayout */
/* .container_FirstColumnLayout {

} */

/* SecondColumLayout */
.constainer_SecondColumLayout {
    /* background-color: blue; */
    /* width: 50%; */

    display: flex;
    flex-direction: column;
    align-items: center;
}