.container {
    width: 250px;
    height: 400px;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.15);
    border-radius: 12px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_image {
    width: 200px;
    height: 170px;
    background-color: black;
    margin-top: 15px;
    border-radius: 12px;
}

.container_name {
    width: 75%;
    height: 40px;
    /* background-color: red; */
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_name > .name {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 19px;
    color: #4F4F4F;
}

.container_name > .title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 12px;
    color: #828282;
}

.container_contact {
    width: 75%;
    height: 40px;
    /* background-color: red; */
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_contact .email {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 12px;
    color: #4F4F4F;
}

.container_contact .phone {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 12px;
    color: #4F4F4F;
}

.container_p {
    width: 75%;
    height: 100px;
}

.container_p > .p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 12px;
    color: #828282;
}

